.main-wrapper {
  width: 100%;
}

.main-header {
  width: 100%;
  height: 100px;
  position: fixed;
  left: 0px;
  top: 0px;

  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .logo {
  color: #333;
  font-size: 35px;
  font-style: italic;
  font-weight: 600;
  margin-left: 30px;
}

.main-header .logo span {
  color: #0ca62f;
}

.main-header nav ul {
  display: flex;
}

.main-header > nav > ul > li {
  font-size: 20px;
  margin-right: 40px;  
}

.main-header > nav > ul > li > a {
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.main-header > nav > ul > li > a:hover {
  text-decoration: underline;
}

.main-content {
  width: 100%;
  margin-top: 100px;

  padding-top: 100px;
  min-height: 830px;
}

.content-top_bg {
  background: url('../images/top_bg.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.content-top {
  margin-top: 300px;
  text-align: center;
}

.content-top h1 {
  color: #333;
  font-size: 40px;
  font-weight: 500;
}

.content-top p {
  color: #333;
  font-size: 50px;
  font-style: italic;
  font-weight: 600;
  margin-top: 80px;
}

.content-top p span {
  color: #0ca62f;
}

.content-service__bg {
  background: #eeffff;
}

.content-service {
  width: 85%;
  margin: 0 auto;
}

.content-header {
  margin-bottom: 50px;
}

.content-service .content-header h1 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px;
}

.content-service .content-header p {
  font-size: 18px;
}

.content-service > .content-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-box-child1 {
  background-color: #fff;
  border: 1px solid #cccccc;
  min-height: 285px;
  height: 100%;
  margin: 0px 15px;
  width: 300px;
  padding: 60px 30px
}

.content-box-child1 > .box__text {
  text-align: center;
}
.content-box-child1 > .box__text > h2 {
  font-size: 25px;
  font-weight: 600;
}
.content-box-child1 > .box__text > i {
  font-size: 120px;
  margin-top: 40px;
}
.content-box-child1 > .box__text > p {
  margin-top: 45px;
  line-height: 20px;
  font-size: 14px;
  text-align: left;
}

.content-box-child2 {
  margin: 0px 15px;
  width: 16%;
}

.content-box-child2 > .box__text {
  font-size: 50px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}

.content-company {
  width: 85%;
  margin: 0 auto;
}

.content-company .content-header h1 {
  font-size: 45px;
  font-weight: 600;
}

.content-company > .content-box {
  display: flex;
}

.company-content-box-child1 {
  margin-right: 35px;
  width: 45%;
}

.company-content-box-child1 > .box__text {
  margin: 20px 0px;
}

.company-content-box-child1 > .box__text > h2 {
  border-left: 4px solid #173844;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-left: 5px;
}

.company-content-box-child1 > .box__text > p {
  font-size: 15px;
  line-height: 1.5em;
  padding-left: 15px;
}

.company-content-box-child2 {
  width: 45%;
}

.company-content-box-child2 > iframe {
  width: 100%;
  margin: 10px 0px;
}

.content-contact__bg {
  background: url('../images/contact_bg.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.content-contact {
  width: 85%;
  margin: 0 auto;
}

.content-contact .content-header h1 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px;
}

.content-contact .content-header p {
  font-size: 18px;
}

.content-contact > .content-box 

.contact-form__label {
  display: flex;
  margin-top: 30px;
}

.contact-form__label > p {
  width: 20%;
  background: #000000;
  font-size: 14px;
  color: #ffffff;
  height: 45px;
  line-height: 45px;
  margin-right: 4px;
  text-align: center;
}

.contact-form__label > textarea {
  height: 200px;
}

.contact-form__label > input,
.contact-form__label > textarea {
  flex: 1;
  border: none;
  outline: none;
  background-color: #ffffff;
}

.contact-form__submit {
  margin-top: 10px;
  text-align: center;
}

.contact-form__submit > input {
  background-color: #000000;
  color: #fff;
  padding: 10px 100px;
}
